<h1>Check In Check Out (CICO)</h1>

<p>Static homepage for the cico system.</p>

<h3>Links</h3>
<%= link_to("Item types", :controller => "item_types", :action => "index") %><br />
<%= link_to("Items", :controller => "items", :action => "index") %><br />
<%= link_to("Users", :controller => "users", :action => "index") %><br />