<h1>Manage Content</h1>

<div class="list-group">
	<%= link_to 'Item Types', { controller: 'item_types' }, class: 'list-group-item list-group-item-action' %>
	<%= link_to 'Items', { controller: 'items' }, class: 'list-group-item list-group-item-action' %>
	<%= link_to 'Check Outs', { controller: 'check_outs' }, class: 'list-group-item list-group-item-action' %>
	<%= link_to 'Users', { controller: 'users' }, class: 'list-group-item list-group-item-action' %>
</div>