<h1>My Items</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Asset num</th>
      <th>Notes</th>
      <th>Retired at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>