<h1>My Items</h1>

<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Issue Date</th>
      <th>Return Date</th>
    </tr>
  </thead>

  <tbody>
    <% @my_items.each do |my_item| %>
      <tr>
        <td><%= my_item.item.name %></td>
        <td><%= my_item.created_at.strftime('%Y-%m-%d') %></td>
        <td><%= my_item.returned_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>