<%= form_for @check_out, :html => {:class => "form-horizontal"} do |f| %>
  
  <div class="col-lg-6">
  	<div class="form-group">
  		<%= f.label :returned_at, class: "control-label" %>
	  	<%= f.date_select :returned_at, { :order => [:day, :month, :year] }, {:class => "form-control"} %>
	  </div> 

	  <div class="form-group">
	    <%= f.submit "Submit", class: "btn btn-default btn-success" %>
	  </div>
  </div>
  
<% end %>