<!-- Editing check out page -->
<h1>Editing Check Out</h1>

<!-- Render check out form -->
<%= render 'form' %>

<!-- Back and show button-->
<div class="row">
	<div class="col-md-6">
		<%= link_to check_outs_path, class: 'btn btn-primary' do %>
		  <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
		<% end %>

		<%= link_to @check_out, class: 'btn btn-primary' do %>
		  <span class="glyphicon glyphicon glyphicon-search"></span>&nbsp; Show
		<% end %>
	</div>
</div>