<!-- New check out page -->
<h1>New Check Out</h1>

<!-- Render check out form -->
<%= render 'form' %>

<!-- Back button  -->
<div class="row">
	<div class="col-md-6">
		<%= link_to check_outs_path, class: 'btn btn-primary' do %>
		  <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
		<% end %>
	</div>
</div>