//Load Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

//Colours
$lightred:		#ff7f7f;
$white:			#FFFFFF;
$lightergray:	#f2f2f2;
$lightgray:		#d9d9d9;
$gray:			#545454;
$darkred:		#cc0000;
$red:			#ff0000;

$colour-button-hover:		$lightgray;
$colour-inputs:				$lightergray;
$colour-login-background:	$gray;
$colour-errors:				$lightred;
$colour-form-background:	$white;