<!-- Form for submitting a retire date -->
<%= form_for @item_type, :html => {:class => "form-horizontal"} do |f| %>

	<!-- Select for retire date -->
	<div class="row">
  		<div class="form-group col-lg-6">
  			<%= f.label :retired_at, class: "control-label" %>
	  		<%= f.date_select :retired_at, { :order => [:day, :month, :year] }, {:class => "form-control"} %>
		</div>
	</div>

	<!-- Submit button -->
	<div class="row">
		<div class="form-group col-lg-6">
			<%= f.submit "Submit", class: "btn btn-default btn-success" %>
		</div>
  	</div>

<% end %>