<!-- Editing item types page -->
<h1>Editing Item Type</h1>

<!-- Render item types form -->
<%= render 'form' %>

<!-- Back and show button -->
<div class="row">
	<div class="col-md-6">
		<%= link_to item_types_path, class: 'btn btn-primary' do %>
		  <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
		<% end %>

		<%= link_to @item_type, class: 'btn btn-primary' do %>
		  <span class="glyphicon glyphicon glyphicon-search"></span>&nbsp; Show
		<% end %>
	</div>
</div>