<!-- New item types page -->
<h1>New Item Type</h1>

<!-- Render item types form -->
<%= render 'form' %>

<!-- Back button -->
<div class="row">
	<div class="col-md-6">
		<%= link_to item_types_path, class: 'btn btn-primary' do %>
		  <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
		<% end %>
	</div>
</div>
