<h1>New Item Type</h1>

<%= render 'form' %>

<div class="row">
	<div class="col-md-6">
		<%= link_to item_types_path, class: 'btn btn-primary' do %>
		  <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
		<% end %>
	</div>
</div>
