<!-- New item page -->
<h1>New Item</h1>

<!-- Render items form -->
<%= render 'form' %>

<!-- Back button -->
<div class="row">
	<div class="col-md-6">
		<%= link_to items_path, class: 'btn btn-primary' do %>
		  <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
		<% end %>
	</div>
</div>
